///////////////////////////////////
///// VARIABLES ///////////////////
//////////////////////////////////

// Dimensions ---------------------->>

$laptop_width: 1280px;
$desktop_width: 1920px;

// Fonts -------------------------->>

$default-family-font: Arial, Helvetica, sans-serif;
