.header {
	background-color: #fff;

	.topContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			font-size: 2rem;
			margin-left: 10px;
		}

		.controls {
			display: flex;
			flex-direction: column;
			width: 30%;
			align-items: flex-end;
			margin-top: 6px;

			.loginBtn {
				width: 80%;
				margin: 0 6px 6px 0 !important;

				&.onLogin {
					width: 40%;
				}
			}

			&.onLogin {
				margin-right: 0 !important;
				justify-content: flex-end;
			}
		}
	}
}
