.header {
	background-color: #fff;

	.topContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			font-size: 2rem;
		}

		.controls {
			display: flex;
			flex-direction: column;
			width: 30%;
			align-items: center;

			.loginBtn {
				width: 80%;

				&.onLogin {
					width: 40%;
				}
			}

			&.onLogin {
				justify-content: flex-end;
			}
		}
	}

	.patientBar {
		display: flex;
		align-items: center;
		width: 100%;
		background-color: rgb(128, 223, 240);

		h2 {
			font-size: 1rem;
			letter-spacing: 1px;
			margin: 5px 10px;
		}

		.change {
			background-color: lightcyan !important;
			margin: 6px;
		}

		.new {
			background-color: lightcyan !important;
			margin: 6px;
		}
	}
}
