.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	min-height: 100px;

	.logo {
		font-size: 2rem;
	}

	.controls {
		display: flex;
		flex-direction: column;
		width: 30%;
		align-items: center;

		.loginBtn {
			// border: green 4px solid;
			width: 80%;

			&.onLogin {
				width: 40%;
			}
		}

		&.onLogin {
			justify-content: flex-end;
			// align-items: unset;
		}
	}
}
